body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #ffe4ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.screen {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  background-color: #ffb7d5;
  border: 4px solid #ff69b4;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 20px #ff69b4;
}

.screen.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

h1, h2 {
  color: #c2185b;
  margin-bottom: 20px;
}

p {
  color: #6a1b4d;
  font-size: 12px;
  margin-bottom: 30px;
}

button {
  font-family: 'Press Start 2P', cursive;
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  box-shadow: 0 4px #c2185b;
}

button:hover {
  background-color: #ff85c1;
}

/* BOTÓN CONFIG */
#config-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 16px;
  padding: 10px;
  background-color: #ff69b4;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px #c2185b;
  z-index: 1000;
}

/* MENÚ CONFIG */
#config-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb7d5;
  border: 4px solid #ff69b4;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px #ff69b4;
  z-index: 2000;
}

#config-menu h3 {
  margin-bottom: 15px;
  color: #c2185b;
}

#config-menu button {
  display: block;
  margin: 10px auto;
  width: 200px;
}

/* OCULTO */
.hidden {
  display: none;
}
button {
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px #c2185b;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px #c2185b;
}

/* CORAZONES FLOTANTES */
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 18px;
  color: #ff69b4;
  animation: floatUp 4s linear forwards;
  pointer-events: none;
  z-index: 500;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(1.4);
    opacity: 0;
  }
}

.sparkle {
  position: fixed;
  width: 8px;
  height: 8px;
  background: #ffd1ec;
  border-radius: 50%;
  opacity: 0.9;
  animation: sparkleFloat 2.5s ease-out forwards;
  pointer-events: none;
  z-index: 9999; /* CLAVE */
}

@keyframes sparkleFloat {
  0% {
    transform: scale(0.5) translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2) translateY(-60px);
    opacity: 0;
  }
}
@keyframes softPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

button {
  animation: softPulse 2.5s ease-in-out infinite;
}